<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
</head>
<body>
<div class="container">
    <div class="jumbotron" >
        <h1 class="text-center"><i class="fa fa-frown-o"> </i>   Sorry, you do not have permission to view this page. </h1>
        <p class="text-center"><a class="btn btn-primary" th:href="@{/home}"><i class="fa fa-home"></i>Go Home</a></p>
    </div></div>
</body>
</html>