<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/webjars/bootstrap/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />
</head>
<body>
    <div th:replace="fragments/header :: header"></div>
    <div class="container">
        <div class="d-flex justify-content-between">
            <h5> User Logged In</h5>
            <h5 th:text="${loggedInCount}">-</h5>
        </div>
        <div class="my-2">
            <h5>IP login attempts</h5>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">IP</th>
                    <th scope="col">Count</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="ip, itrStat : ${loginIP}">
                    <td scope="row" th:text="${itrStat.count}">-</td>
                    <td scope="row" th:text="${ip.key}">-</td>
                    <td scope="row" th:text="${ip.value}">-</td>
                    <td scope="row"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>